.login {
    width: 300px;
    margin: 120px auto;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #2196F3;
    color: white;
    border: none;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}